dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

dialog {
    font-family: Arial;
    line-height: 1.3;
    font-size: 12pt;
    position: absolute;
    margin-top: 10vh;
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, silver, grey);
    box-shadow: 0 0 30px -10px black;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 10pt;
}

.container header {
    padding: 30px;
    display: flex;
    padding-bottom: 0;
    align-items: center;
    opacity: 0.5;
}

.container header img {
    margin-right: 10px;
}

.container header h2 {
    margin: 0;
    text-transform: uppercase;
}

.container .output {
    flex: 1;
    overflow: auto;
    margin: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: inset 0 0 5px -1px black;
}

.feature>heading {
    font-weight: bold;
    padding: 0 5px;
    border-bottom: solid 1px black;
}

.feature>.description {
    white-space: pre-line;
    margin: 10px;
}

.scenarios heading {
    font-weight: bold;
}

ul, ol {
    margin: 10px 30px;
    padding: 0;
}

.scenarios li {
    list-style: none;
}

.steps .description {
    display: flex;
}

.steps .outcome {
    display: none;
}

.steps .failed .outcome {
    display: block;
    margin: 10px 20px;
    background-color: #FEE;
    padding: 20px;
    white-space: pre;
    font-family: monospace;
}

.steps .failed .description::before {
    align-self: center;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 7px;
    margin-left: -15px;
    margin-right: 5px;
    animation-name: pulse-red;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0;
        background: radial-gradient(darkred, darkred 20%);
    }
    50% {
        box-shadow: 0 0 5px -1px red;
        background: radial-gradient(red 50%, black 100%);
    }
    100% {
        box-shadow: 0;
        background: radial-gradient(darkred, darkred 20%);
    }
}

@keyframes spinner {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* .scenario h4 {
    margin-bottom: 0;
}

.scenario .step {
    margin-left: 30px;
    position: relative;
}

.status-light::before {
    content: "";
    position: absolute;
    margin-left: -20px;
    margin-top: 1px;
    border-radius: 7px;
    height: 14px;
    width: 14px;
}

.scenario {
    padding: 0 30px;
    margin: 0;
    position: relative;
}

.scenario.ok .status-light::before {
    background-color: green;
}

.scenario.ok .step {
    display: none;
}

.scenario.fail .status-light::before {
    background-color: red;
    animation-name: pulse-red;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.scenario.pending .status-light::before {
    background: linear-gradient(green 0%, transparent 50%);
    animation-name: spinner;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */