<template id="diary-entry">
    <article class="diary">
        <time></time>
        <div class="body" />
    </article>
</template>

<script src="/javascripts/load-diary-entries.js" type="module"></script>

<div id="diary-entries"></div>